@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body,html{font-family: 'Montserrat', sans-serif; font-size: 15px;}
a:hover, a:active, a:focus, a{ outline: none; text-decoration: none;}


.banner-area h1 {position: absolute;color: #fff;right: 20px;text-transform: uppercase;max-width: 720px;font-size: 3.2em;margin: 0;line-height: 1.2em;font-weight: 600;}
.banner-area {position: relative;background: #000;overflow: hidden;}
.banner-area video {height: 100vh; max-width: 100%;}
.banner-area a {display: block;margin: 0 auto;position: absolute;left: 0;right: 0;background: transparent;width: 30px;text-align: center;filter: contrast(0) brightness(2);top: 90vh;}
.banner-area a img {position: absolute;top:0}
.banner-area a img:first-child {animation-delay: 0.5s;animation-name: arrowmove; animation-duration: 1s; animation-iteration-count: infinite;animation-direction: reverse;}

@keyframes arrowmove {
    from{ opacity: 0; top: 15px;}
}

/*header*/
.custom-header {position: sticky;top: 0;background: #fff;padding: 10px 0; z-index:9}
.custom-header .row {align-items: center;}
.logo a {display: block;}
.menu-area ul {display: flex;padding: 0;margin: 0;list-style: none;}
.menu-area ul li a {display: block;padding: 8px 10px;font-size: 1em; color: #000;text-decoration: none;}
.social-media ul {list-style: none;padding: 0;margin: 0;display: flex;align-content: center;justify-content: space-around;}
.social-media ul li a {display: block;}
/*end*/

/*over services*/
.service-section-area {padding: 30px 0;}
.service-section-heading h2 span { color:#fc8c24}
.service-section-heading h2 {font-size: 5rem;text-align: right; text-transform: uppercase;line-height: 5.5rem;margin: 10px 0; letter-spacing: 0.1em;color: gray;font-weight: 700;}
.service-section-heading p {text-align: right;}
.color-peace {height: 40px;width: 50%;background: gray;display: block;margin: 0 -25px 0 auto;}
.service-item {background: #fc8c24;padding: 20px;position: relative; color: #000; border: 1px solid #fff;outline: 5px solid #fc8c24;}
.service-item p {margin: 5px 0;}
.service-item h4 {font-size: 18px;}
.section-peragraph{color: #000;}
.service-item img {max-width: 50px;}
.service-item h4 {margin: 10px 0; font-weight: 700;}
.flip-card {background-color: transparent;width: 100%; height: 100%; perspective: 1000px; margin: 10px 0;}
.flip-card-inner { position: relative; -webkit-transition: -webkit-transform 0.6s;transition: -webkit-transform 0.6s;-o-transition: transform 0.6s; transition: transform 0.6s; transition: transform 0.6s, -webkit-transform 0.6s;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;will-change: transform;pointer-events: none;}
.flip-card:hover .flip-card-inner {transform: rotateY(180deg);}
.service-item, .flip-card-back { position: absolute;top: 0; left: 0; height: 100%; width: 100%; -webkit-backface-visibility: hidden;backface-visibility: hidden;pointer-events: auto;}
.flip-card-front {background-color: #bbb;color: black;}
.flip-card-back{background: #1b5d38;padding: 20px;border: 1px solid #fff;outline: 5px solid #1b5d38;color: #fff;transform: rotateY(180deg);}
.flip-card-inner:after {content: ''; display: block; padding-bottom: 100%;}
.flip-card-back ul {list-style: square;margin: 0; padding-left: 15px;}
.flip-card-back ul li a {color: #fff;text-decoration: none;}

  /*end*/

/*portfolio area*/ 
.portfolio-area h2 {position: relative;font-size: 5rem;text-align: left;text-transform: uppercase;line-height: 5.5rem;margin: 0;letter-spacing: 0.1em;color: #000000;font-weight: 700;}
.portfolio-area h2:after {content: '';height: 1px;width: 50%;background: #dcdcdc;position: absolute;bottom: 0;margin: auto;left: 0;}
.portfolio-area {background: #f5f5f5; padding-top: 50px;}
.project-img a span {font-size: 1em;text-transform: uppercase;color: #fff;width: 1em;letter-spacing: 1px;display: block;text-align: center;word-break: break-word;line-height: 25px;}
.project-img a {text-decoration: none;width: 60px;background: #150101;text-align: center;display: flex;justify-content: center;height: 100%;padding: 10px 0;}
.project-img {display: flex;flex-wrap: wrap;}
.project-img img {max-width: calc(100% - 60px);}
.project-slide .row {align-items: center;}
.project-content h4 {font-size: 3.5em;text-transform: uppercase;font-weight: 300;color: #000;}
.project-content h4 span {display: block;color: #fc8c24;}
.project-content p {font-size: 1.1em;}
.left-slider .project-content {text-align: right;padding-right: 50px;}
.right-slider .project-content {text-align: left;padding-left: 50px;}
.tabs-area #pills-tab {background: #000;margin: 0 !important;}
.tabs-area {padding:0 0 20px;}
.tabs-area #pills-tab button {color: #fff;text-transform: uppercase;}
.tabs-area #pills-tab button.active {border-radius: 0;background: #fc8c24;}
.tabs-arrow ul {display: flex;align-items: center;list-style: none;justify-content: flex-end;margin: 0;}
.tabs-arrow ul li a {display: block;max-width: 40px;}
.tabs-arrow ul li a svg {width: 100%;height: auto;display: block;}
.tabs-arrow ul li:first-child a {transform: rotate(180deg);}
.tabs-arrow ul li {margin: 0 10px;}
.tabs-area .row {align-items: center;}
/*end*/

/*testimonial area*/
.testimonial-area {padding: 30px 0;background: #000;color: #fff;}
.testimonial-area h2 {position: relative;font-size: 2.5rem;text-align: left;text-transform: uppercase;line-height: 3rem;margin: 0;letter-spacing: 0.1em;color:#fff;font-weight: 700;}
.quote img {filter: contrast(0) brightness(2);}
.quote {transform: rotate(180deg);width: 70px;}
.testimonial {display: flex !important;align-items: baseline;}
.testimonial blockquote {padding-left: 25px;max-width: calc(100% - 70px);}
.testimonial blockquote h4 {margin: 15px 0 5px;}
.testimonial-area h2:after {content: '';height: 1px;width: 100%;display: inline-block;background: #ffffff;}
/*testimonial area end*/

/*about us area*/
.about-us-section {padding: 40px 0;}
.about-us-section .row {align-items: center;}
.about-us-content {padding-left: 50px;}
.about-us-content h2 {font-size: 4.2rem;text-align: left;text-transform: uppercase;line-height: 4.8rem;margin: 10px 0;color: #65665f;font-weight: 700;}
.about-us-content h2 span {display: block;color: #fc8c24;font-size: 5rem;}
.about-img span {display: block;width: 60px;height: 50%;background: #fc8c24;position: absolute;left: 0;top: 50%;z-index: 1;}
.about-img {position: relative;}
/*end*/



/*footer*/
.upper-footer {background: #000;padding: 50px 0;color: #fff;}
.footer-links img {margin: 0 0 10px;}
.footer-links p {font-size: 1em;color: #909090;line-height: 24px;}
.footer-links h4 {font-size: 16px;}
.footer-links ul {list-style: none;padding: 0;margin: 0;}
.footer-links ul li a {display: inline-block;font-size: 1em;color: #909090;line-height: 30px;transition: 0.3s ease;}
.footer-links ul li a:hover {color: #fc8c24;}

.lower-footer {background: #181818;color: #909090;padding: 10px 0;}
.lower-footer p {font-size: 1em;margin: 0;}
.social-meida ul {list-style: none;padding: 0;margin: 0;}
.social-meida ul li {display: inline-block; padding: 0 10px;}
.social-meida ul li a {color: #909090;transition: 0.3s ease;}
.lower-footer ul li a i:before {font-size: 1em;}
.social-meida ul li a:hover {color: #fc8c24;}
.social-meida {text-align: right;}

.footer-links ul li:first-child i:before {font-size: 30px;}
.footer-links ul li i {position: absolute;left: -40px;text-align: center;width: 35px;top: 0;}
.footer-links ul li {position: relative;}
.footer-links ul li i:before {font-size: 18px; color: #999;}

/*end*/


/*blogs*/
.blog-content ul {list-style: none;padding: 10px 0;margin: 0;}
.blog-content ul li {display: inline-block;font-size: 1em;color: #fc8c24;padding: 0 10px 0 0;}
.blog-content ul li a {color: #909090;}
.blog-content h5 {font-size: 1.3em;font-weight: 700;}
.blog-content p {line-height: 26px;font-size: 1em;color: #000000;}
.blog-content {padding: 10px 20px;}
.blog{-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);border: 0; border-radius: .25rem; margin: 20px 0;}
.blog-img img {width: 100%; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);-webkit-border-radius: .25rem;border-radius: .25rem; margin-top: -20px;}
.blog-img {padding: 0 15px;}
.blog-section {padding: 30px 0; background: #f5f5f5;}
.blog-section h2 {position: relative;font-size: 2.8rem;text-align: left;text-transform: uppercase;line-height: 5.5rem;margin: 0;letter-spacing: 0.1em;color: #000000;font-weight: 700;margin-bottom:20px;}
/*end*/

/*colabration logo*/
.colabration-section h2 {text-align: center;color: #000;position: relative;font-size: 2.8rem;text-transform: uppercase;line-height: 5.5rem;margin: 0;letter-spacing: 0.1em;font-weight: 700;margin-bottom: 20px;}
.colabration-campanies {display: flex;align-items: center;justify-content: space-between;}
.colabration-section {padding: 30px 0;}
/*end*/